/* line 5, ../sass/wysiwyg.scss */
iframe.cke_wysiwyg_frame,
body.cke_show_borders,
div.cke_contents {
  font-size: 1.2em;
  line-height: 1.6em;
  font-family: Georgia,"Times New Roman",Times,serif;
}
